/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
    --primary-font:"Roboto Flex", sans-serif;
    --secondary-font:"Poiret One", sans-serif;
    --primary-color:#22031F; 
    --secondary-color:#586F7C; 
    --highlight-color:#FFFFFF; 
    --highlight-color-light:#71B48D; 
    --highlight-color-dark:#BA3F1D;
}

/* General */

body{
    background-color: var(--primary-color);
    padding-top: 19px;
    display: flex;
    /* flex-wrap: wrap; */

}

h1, h2, h3{
    font-family: var(--secondary-font);
    color: var(--highlight-color-light);
    font-weight: bolder;
}

p{
    font-family: var(--primary-font);
    color:var(--highlight-color)
}

.section{
    padding-top: 4rem;
}

.card{
    background-color:var(--secondary-color) ;
}

.card-subtitle{
    color:var(--highlight-color-light);
    font-family: var(--secondary-font);
    font-weight:bolder;
}

/* Navbar */
#navbar{
    background-color: var(--secondary-color);
}

#navbar i{
    font-size:larger;
}

/* Header */

#header{
    background:url(../images/header-image.webp) no-repeat 50% 35% / cover;
    background-color: var(--primary-color);
    /* width:100%; */
}

.header-title{
    /* border: 2px solid black; */
    background-color: rgba(255,255,255,0.8);
    color:var(--primary-color);
}

header p{
    background: rgba(255,255,255,0.25);
    padding-top: 15px;
    color:var(--primary-color);
    font-size: large;
}

/* Information section */

#information .card p{
    text-align: left;
}

/* Best Practices Section */
#best-practices .list-group-item{
    background-color: var(--secondary-color);
    color:var(--highlight-color);
}

#best-practices .list-group-item:hover{
    background-color:var(--highlight-color-light);
    color:black;
}

#best-practices h2{
    font-weight: 700;
}

#best-practices i{
    color:var(--primary-color);
}

/* Links section */
#links .card{
    margin:10px;
}

#links .btn{
    background-color:var(--primary-color);
    color:var(--highlight-color);
}

#links .btn:hover{
    background-color:var(--highlight-color-light);
    color:var(--primary-color);
}

/* Footer */

footer{
    background-color: var(--secondary-color);
    color:var(--highlight-color);
}


/* Media query: large screens and up (992px and up) */
@media screen and (min-width:992px){

    #header{
        min-height:325px;
    }

    header p{
        font-size: larger;
    }
}

/* Media query: extra-large screens and up (1200px and up) */
@media screen and (min-width:1200px){

    #header{
        min-height:375px;
    }

    header p{
        font-size:x-large
    }

}

/* Media query: extra-large screens and up (1400px and up) */
@media screen and (min-width:1400px){

    #header{
        min-height:60vh;
    }

}