/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
    --primary-font:"Roboto Flex", sans-serif;
    --secondary-font:"Poiret One", cursive;
    --primary-color:#0B032D; /* dark blue */
    --secondary-color:#96705B; /*brown */
    --highlight-color:#016FB9; /* light blue */
    --highlight-color-light:#9ED0E6; /* lighter blue */
}

/* General */

body{
    background-color: var(--primary-color);
}

h1, h2, h3{
    font-family: var(--secondary-font);
    color: var(--highlight-color);
    font-weight: bold;
}

p{
    font-family: var(--primary-font);
    color:var(--highlight-color)
}

/* Header */

#header{
    background-color: var(--primary-color);
    width:100%;
    padding-top: 50px;
}

.header-title{
    border: 2px solid black;
    /* background-color: rgba(255,255,255,0.5); */
}