/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
    --primary-font:"Roboto Flex", sans-serif;
    --secondary-font:"Poiret One", cursive;
    --primary-color:#0B032D; /* dark blue */
    --secondary-color:#8E4162; /*dark magenta */
    --highlight-color:#016FB9; /* light blue */
    --highlight-color-light:#9ED0E6; /* lighter blue */
}

/* General */

h1, h2, h3{
    font-family: var(--secondary-font);
    color: var(--highlight-color);
}

/* Header */

.header{
    background-image: url(../images/header-image.jpg);
    background: var(--primary-color);
}